body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    background-color: #0066ff; /* Azul Telefónica */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
  }  